.card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "title title"
    "image date"
    "image score"
    "discount full-value"
    "discount sale-value";
  gap: 4px;
  box-sizing: border-box;
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--color-bg-card);
  box-shadow: 6px 6px 48px rgba(0, 0, 0, .15);
  padding: 4px;
  justify-content: center;
  color: var(--color-txt-1);
  cursor: pointer;
}
.card p {
  margin: 0;
  user-select: none;
}

.card img {
  grid-area: image;
  width: 120px;
  height: 45px;
}

.card h2 {
  grid-area: title;
  margin: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, .03);
  user-select: none;
}

.card-score {
  grid-area: score;
}

.card-score span {
  font-weight: 800;
}

.card-score-positive {
  color: var(--card-score-positive);
}

.card-score-mixed {
  color: var(--card-score-mixed);
}

.card-score-negative {
  color: var(--card-score-negative);
}

.card-normal-price {
  grid-area: full-value;
  text-decoration: line-through 2px;
  color: var(--color-txt-3);
  font-size: .9rem;
}

.card-sale-price {
  grid-area: sale-value;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-discount {
  grid-area: discount;
  color: var(--color-txt-discount);
  font-size: 2.75rem;
  font-weight: 800;
  text-align: end;
}

.card-date {
  grid-area: date;
  color: var(--color-txt-2);
}

.card-date-text {
  font-weight: 600;
}

.btn-back-to-menu {
  font-size: 1.25rem;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: var(--color-main-3);
  color: var(--color-txt-1);
  border: 3px solid var(--color-main-1);
  border-radius: 8px / 12px;
  cursor: pointer;
  grid-column: 1 / -1;
}
