header {
  position: relative;
  background-color: var(--color-main-2);
  width: 100%;
  color: var(--color-txt-1);
}

h1 {
  margin: 0;
  text-align: center;
}

header button {
  --btn-size: 30px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--btn-size);
  height: var(--btn-size);
}
