#game-menu {
  display: grid;
  grid-auto-rows: auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 16px;
  grid-row: 1 / -1;
  text-align: center;
}

#game-menu h2,
#game-menu p {
  margin: 4px 16px;
}
#game-menu button {
  font-size: 1rem;
  padding: 4px;
  margin: 2px;
}