#play-area {
  --card-width: 300px;
  --card-height: 200px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(var(--card-width), 1fr));
  grid-template-rows: repeat( auto-fill, minmax(var(--card-height), 1fr));
  padding: 8px;
  gap: 8px;
  align-items: center;
  justify-items: center;
}
