:root {
  --color-main-1: rgb(210, 220, 230);
  --color-main-2: rgb(220, 230, 240);
  --color-main-3: rgb(230, 240, 250);
  --color-bg-menu: rgba(255, 255, 255, .25);
  --color-bg-card: none;
  --color-txt-1: #333;
  --color-txt-2: #444;
  --color-txt-3: #555;
  --color-txt-discount: green;
  --card-score-positive: green;
  --card-score-mixed: chocolate;
  --card-score-negative: darkred;
}

:root.dark-theme {
  --color-main-1: rgb(40, 50, 60);
  --color-main-2: rgb(50, 60, 70);
  --color-main-3: rgb(60, 70, 80);
  --color-bg-menu: rgba(0, 0, 0, .25);
  --color-bg-card: rgba(255, 255, 255, .01);
  --color-txt-1: #ccc;
  --color-txt-2: #bbb;
  --color-txt-3: #aaa;
  --color-txt-discount: limegreen;
  --card-score-positive: limegreen;
  --card-score-mixed: darkgoldenrod;
  --card-score-negative: red;
}

body {
  display: flex;
  margin: 0;
  background-color: var(--color-main-1);
  justify-content: center;
}

* {
  --transition-time: 300ms;
  transition: background-color var(--transition-time), border-color var(--transition-time), color calc(var(--transition-time) / 3);
}
